In [2]:
import pandas as pd
import numpy as np
from ast import literal_eval as eval
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import warnings
import requests
from bs4 import BeautifulSoup
from IPython.core.display import clear_output
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv("imdb_data.csv",index_col='id')

In [ ]:
df.shape

(3000, 22)

In [ ]:
df.head()

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
id,,,,,,,,,,,,,,,,,,,,,
1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 1 to 3000
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  604 non-null    object
 1   budget                 3000 non-null   int64
 2   genres                 2993 non-null   object
 3   homepage               946 non-null    object
 4   imdb_id                3000 non-null   object
 5   original_language      3000 non-null   object
 6   original_title         3000 non-null   object
 7   overview               2992 non-null   object
 8   popularity             3000 non-null   float64
 9   poster_path            2999 non-null   object
 10  production_companies   2844 non-null   object
 11  production_countries   2945 non-null   object
 12  release_date           3000 non-null   object
 13  runtime                2998 non-null   float64
 14  spoken_languages       2980 non-null   object
 15  status                 3000 non-null   object
 16  tagline                2403 non-null   object
 17  title                  3000 non-null   object
 18  Keywords               2724 non-null   object
 19  cast                   2987 non-null   object
 20  crew                   2984 non-null   object
 21  revenue                3000 non-null   int64
dtypes: float64(2), int64(2), object(18)
memory usage: 539.1+ KB

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
budget,3000.0,2.253133e+07,3.702609e+07,0.000000,0.000000e+00,8.000000e+06,2.900000e+07,3.800000e+08
popularity,3000.0,8.463274e+00,1.210400e+01,0.000001,4.018053e+00,7.374861e+00,1.089098e+01,2.943370e+02
runtime,2998.0,1.078566e+02,2.208643e+01,0.000000,9.400000e+01,1.040000e+02,1.180000e+02,3.380000e+02
revenue,3000.0,6.672585e+07,1.375323e+08,1.000000,2.379808e+06,1.680707e+07,6.891920e+07,1.519558e+09

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

# We only need these columns

In [ ]:
df = df[['title','genres','popularity','cast','crew','imdb_id']]

In [ ]:
df.head()

,title,genres,popularity,cast,crew,imdb_id
id,,,,,,
1,Hot Tub Time Machine 2,"[{'id': 35, 'name': 'Comedy'}]",6.575393,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",tt2637294
2,The Princess Diaries 2: Royal Engagement,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",8.248895,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",tt0368933
3,Whiplash,"[{'id': 18, 'name': 'Drama'}]",64.299990,"[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",tt2582802
4,Kahaani,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",3.174936,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",tt1821480
5,Marine Boy,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",1.148070,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",tt1380152

In [ ]:
df.isnull().sum()

title          0
genres         7
popularity     0
cast          13
crew          16
imdb_id        0
dtype: int64

# Dropping all null rows

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

title         0
genres        0
popularity    0
cast          0
crew          0
imdb_id       0
dtype: int64

In [ ]:
df.shape

(2978, 6)

In [ ]:
df.dtypes

title          object
genres         object
popularity    float64
cast           object
crew           object
imdb_id        object
dtype: object

# Converting the objects into proper lists

In [ ]:
df['genres'] = df['genres'].apply(lambda x: eval(x))

In [ ]:
df['cast'] = df['cast'].apply(lambda x: eval(x))

In [18]:
df['crew'] = df['crew'].apply(lambda x: eval(x))

# Extracting genres, top 3 actors and directors from the json objects

In [19]:
def get_genres_list(genres):
    Genres_list = []
    for i,n in enumerate(genres):
        genre = genres[i]['name']
        Genres_list.append(genre)
    return Genres_list

In [20]:
df['Genre list'] = df['genres'].apply(get_genres_list)

In [21]:
def get_actors_list(cast):
    actor_list = []
    for i,n in enumerate(cast):
        actor = cast[i]['name']
        actor_list.append(actor)
        if len(actor_list) == 3:
            break
    return actor_list

In [22]:
df['Top actor list'] = df['cast'].apply(get_actors_list)

In [24]:
def get_director_list(crew):
    director_list = []
    for i,n in enumerate(crew):
        if crew[i]['job'] == 'Director':
            director = crew[i]['name']
            director_list.append(director)        
    return list(set(director_list))

In [25]:
df['Director list'] = df['crew'].apply(get_director_list)

# We won't be needing those object columns now

In [27]:
df.drop(['genres','crew','cast'],axis=1,inplace=True)

In [28]:
df.head()

,title,popularity,imdb_id,Genre list,Top actor list,Director list
id,,,,,,
1,Hot Tub Time Machine 2,6.575393,tt2637294,[Comedy],"[Rob Corddry, Craig Robinson, Clark Duke]",[Steve Pink]
2,The Princess Diaries 2: Royal Engagement,8.248895,tt0368933,"[Comedy, Drama, Family, Romance]","[Anne Hathaway, Julie Andrews, H√©ctor Elizondo]",[Garry Marshall]
3,Whiplash,64.299990,tt2582802,[Drama],"[Miles Teller, J.K. Simmons, Melissa Benoist]",[Damien Chazelle]
4,Kahaani,3.174936,tt1821480,"[Thriller, Drama]","[Vidya Balan, Nawazuddin Siddiqui, Parambrata ...",[Sujoy Ghosh]
5,Marine Boy,1.148070,tt1380152,"[Action, Thriller]","[Kim Kang-woo, Jo Jae-hyeon, Park Si-yeon]",[Jong-seok Yoon]

# Creating a list of all unique genres, actors and directors

In [29]:
def create_unique_list(colname):
    dict_copy = df.to_dict('records')
    mega_list = []
    for r in dict_copy:
        mega_list.append(r[colname])
    tmp = []
    for i in mega_list:
        for j in i:
            tmp.append(j)
    unique_list = list(set(tmp))
    return unique_list

In [30]:
genre_list = create_unique_list('Genre list')

In [31]:
actor_list = create_unique_list('Top actor list')

In [32]:
dir_list = create_unique_list('Director list')

# Creating binary list to calculate distances using scipy.spatial

In [33]:
def create_bin(listt,unique_list):
    binary_list = []    
    for i in unique_list:
        if i in listt:
            binary_list.append(1)
        else:
            binary_list.append(0)
    
    return binary_list

In [34]:
df['Genres bin'] = df['Genre list'].apply(lambda x: create_bin(x,genre_list))

In [35]:
df['Actors bin'] = df['Top actor list'].apply(lambda x: create_bin(x,actor_list))

In [36]:
df['Director bin'] = df['Director list'].apply(lambda x: create_bin(x,dir_list))

# Standardizing the popularity column

In [38]:
scaler = StandardScaler()
df[['popularity']] = scaler.fit_transform(df[['popularity']])

# Creating a function that will scrap the poster links of all movies using bs4

In [79]:
def get_poster_link(idd):
    try:
        IMG_PATTERN = 'https://api.themoviedb.org/3/movie/{imdbid}/images?api_key=b45e811daee9d8cc54e24fd82c7653d0'
        r = requests.get(IMG_PATTERN.format(imdbid=idd))
        api_response = r.json()
        posters = api_response['posters'][0]
        rel_path = posters['file_path']
        url = f"https://www.themoviedb.org/t/p/original/{rel_path}"
        return url
    except:
        return np.nan

In [80]:
df['posters'] = df['imdb_id'].apply(lambda x : get_poster_link(x))

# Dropping the null values in case any poster link is missing

In [85]:
df.dropna(inplace=True)

# Import the cleaned dataset into the working directory

In [87]:
df.to_csv("movie_data.csv")